.light-mode .Question{
    background: rgba(255, 255, 255, 0.9);
    color: black;
}
.light-mode [id^="panel"]{
    background: rgba(255, 255, 255, 0.9);
    color: black;
}

#questions {
    margin-top: 20px;
    margin-left: 30px;
}

.Question {
    display: flex;
    align-items: center;
    padding: 20px;
    margin:20px;
    border:none;
    color: rgb(219, 219, 219);
    width: 800px;
    height: 80px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    font-size: 40px;
    cursor: pointer;
}
.Question:hover{
    font-size: 45px;
}

[id^="panel"] {
    width:800px;
    display: none;
    padding: 20px;
    margin-left: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: rgb(219, 219, 219);
    font-size: 30px;
}