#events {
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 30px;
    height: 700px;
}

.section-title {
    font-size: 2em;
    color: white;
}

.events {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    overflow: scroll;
    scrollbar-width: none;
}

.event {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    border: solid;
    border-color: white;
}

.event img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 15px;
}

.event-desc h2 {
    margin: 10px 0;
    font-size: 1.3em;
    color: #00bfff;
}

.event-desc p {
    font-size: 0.95em;
    color: #ddd;
}

.light-mode .event {
    background: rgba(255, 255, 255, 0.9);
}

.light-mode .event-desc h2 {
    color: #0066cc;
}

.light-mode .event-desc p {
    color: black;
}